body {
    font-family: Arial;
    background-color: rgb(123, 221, 221);
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.pointed {
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: unset;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.introduction {
    direction: ltr;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-right: 1vh;
    border: 2px;
    border-style: solid;
    border-color: rgb(85, 85, 240);
    border-radius: 1vw;
    margin-bottom: 1vh;
}

.nameIntroduction {
    padding-left: 1vw;
    padding-right: 1vw;
}

.clock {
    display: flex;
}

.clockText {
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: bold;
    font-family: fantasy;
}

.clockButton {
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color: #3d94f6;
	border-radius: 6px;
	border: 1px solid #337fed;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding-left: 2vw;
    padding-right: 2vw;
}

.clockButton:hover {
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
}

.introductionLogo {
    flex-flow: nowrap;
    float: right;
    padding: 0vw;
    padding-top: 1vh;
    padding-right: 1vw;
}

.column { 
    box-sizing: border-box;
    float: left;
    height: 100%;
}


.content {
    display: flex;
    flex-grow : 1;
}

.detailsScreen {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: rgb(85, 85, 240);
    border-radius: 8vw;
    margin-right: 1vh;
    width: 73%;
}

.allDetailsScreen {
    display: block;
    padding: 1vw;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: rgb(85, 85, 240);
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 65%;
}

.detailsHeader {
    font-size: 27px;
    margin-top: 0vh;
    margin-bottom: 0vw;
    text-indent: 5vw;
}

.specificDetails {
    display: block;
    padding: 1vw;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: rgb(85, 85, 240);
    height: 20%;
}

.specificAnimalHeader {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0vw;
}

.sideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: rgb(85, 85, 240);
    border-radius: 3vw;
    width: 25%;
    background-color: rgb(137, 174, 223);
}

.sideBarButton {
	background: linear-gradient(to bottom, #60dff0 5%, #408c99 100%);
    background-color: turquoise;
    border-radius: 1vw;
    display: inline-block;
    border: none;
    width: 18vw;
    height: 9vh;
    padding: 2vh 4vw;
    color: white;
    font-size: 16px;
    font-weight:bold;
    margin-bottom: 1vh;
    border: 1px solid gainsboro;
}   

.sideBarButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #60dff0 100%);
    background-color:#408c99;
    border: 1px solid black;
    box-shadow: black 0px 0px 3px;
}

.animalTable {
    width: 80%;
    margin-top: 3vh;
    margin-right: 6vw;
    border-collapse: collapse;
    border: 1px solid rgb(85, 85, 240);
}

.animalTableHeader {
    background-color: rgb(227, 176, 250);
}

.animalTableProperty {
    padding: 1vw;
}

.animalTableRow {
    border: 1px solid rgb(85, 85, 240);
    background-color: rgb(255, 231, 255);
}

.animalTableCell {
    position: relative;
    padding: 2vh;
}

.animalGarbageCell {
    padding: 2vh;   
    background-color: white;
    border: none;
}

.animalTableRow:hover {
    cursor: pointer;
    background-color: lightblue;
    box-shadow: black 0px 0px 5px;
}

.chosenRow {
    background-color: rgb(181, 235, 255);
    font-style: italic;
}

.garbageIcon {
    cursor: pointer;
    width: 27px;
    height: 27px;
}

.garbageIcon:hover {
    border-radius: 50%;
    box-shadow: red 0px 0px 5px;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

tr.removedRow .animalTableCell::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid tomato;
    width: 100%;
}

.saveAnimalButton {
    margin: 4vh;
    margin-right: 10vw;
    width: 8vw;
    height: 4vh;
	background: black;
	border-radius: 3px;
	border: 1px solid #000000;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.saveAnimalButton:hover:enabled {
    box-shadow: black 0px 0px 3px;
}

.saveAnimalButton:disabled {
    border: none;
    font-size: 90%;
    background-color: rgb(192, 187, 187);
}

.inputProperty {
    padding: 1vh;
}

.inputPropertyBox {
    width: 25%;
    padding: 1vh 2vw;
    margin: 0vh 2vw;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.inputPropertySubmit {
    width: 12%;
    background-color: rgb(107, 135, 172);
    color: white;
    padding: 1vh 2vw;
    margin: 0vh 2vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.inputPropertySubmit:hover {
    background-color: #457ba0;
}